{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}
{% block title %}
Update
{% endblock %}
{% block content %}
  <div class="offset-lg-2">
      <br><br><br><br>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header pb-0">
          <h1 class="text-center">Update info</h1>
        </div>
        <div class="card-body">
          <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">{{ form|crispy }}</div>
            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
